<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Make a Choice</title>
    <link rel="stylesheet" href="/css/hangman.css">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form action="/setup" method="post">
        <button type="submit" name="button" value="easy">Easy Mode</button>
        <button type="submit" name="button" value="medium">Medium Mode</button>
        <button type="submit" name="button" value="hard">Hard Mode</button>
        <button type="submit" name="button" value="nightmare">Nightmare Mode</button>
        <button type="submit" name="button" value="torture">Torture Mode</button>
      </form>
    </div>

    <div class="audio" id=>
    </div>

    <script src="/javascript/hangman.js" charset="utf-8"></script>


    <script language="JavaScript"><!--
javascript:window.history.forward(1);
//--></script>
  </body>
</html>
