<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{#keys}}
    <div class="key-row">
      {{#row1}}
        <form action="/keypressed" method="post">
          <button type="submit" name="key" value={{id}}>{{keyvalue}}</button>
        </form>
      {{/row1}}
    </div>
    <div class="key-row">
      {{#row2}}
        <form action="/keypressed" method="post">
          <button type="submit" name="key" value={{id}}>{{keyvalue}}</button>
        </form>
      {{/row2}}
    </div>
    <div class="key-row">
      {{#row3}}
        <form action="/keypressed" method="post">
          <button type="submit" name="key" value={{id}}>{{keyvalue}}</button>
        </form>
      {{/row3}}
    </div>
    {{/keys}}
  </body>
</html>
