*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 75vw;
  margin: auto;
  border: 2px dotted;
  padding: 3rem;
  background-color: rgba(255,255,255,0.7);

}

.word{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.word h1{
  flex: 1 100%;
}

.letter{
  margin: 5px;
  font-size: 3em;
}

.keyboard{
  width: 100%;
  margin: auto;
  margin-top: 3rem;
}

.keyboard button{
  padding: 20px;
  border: none;
  margin: 2px;
  border-radius: 10px;
  background-color: white;
  font-size: 1.5em;
  background-color: #eee;
}

.keyboard button:focus{
  outline: none;
}
.guessed{
  background-color: red;
}

.not-guessed{

}

.key-row{
  display: flex;
  justify-content: center;
}

h3 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5em;
}

.word h1{
  font-family: 'Lobster', cursive;
  font-size: 3em;
}

.guesses{
  font-family: 'Lobster', cursive;
}
